.ProductsList .Product {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border: 1px solid #8e8686;
  border-radius: 13px;
  width: 200px;

  padding: 10px 10px;
  box-shadow: rgba(56, 54, 54, 0.336) 0px 7px 29px 0px;
  background-color: transparent;
  margin-top: 15px;
}
.ProductsList{
  display: flex;
  justify-content:space-evenly;
  flex-wrap:wrap ;
  


}


.ProductsList .Product img {
  width: 100%;
  display: flex;
}

.ProductsList .imageProduct {
  width: 100px;
}

.ProductsList span {
  color: rgb(84, 81, 81);
  font-size: 15px;
  font-weight: bold;

}
.ProductsList a {
  font-family: 'Poiret One', cursive;
  color: #000;
  font-size: 15px;
  font-weight: bold;
}