.ProductsList .Product {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border: 1px solid #8e8686;
  border-radius: 13px;
  width: 200px;

  padding: 10px 10px;
  box-shadow: rgba(56, 54, 54, 0.336) 0px 7px 29px 0px;
  background-color: transparent;
  margin-top: 15px;
}
.ProductsList{
  display: flex;
  justify-content:space-evenly;
  flex-wrap:wrap ;
  


}


.ProductsList .Product img {
  display: flex;
  width: 100%;
 
  }


.ProductsList .imageProduct {
  width: 100px;

}

.ProductsList span {
  color: rgb(82, 68, 76);
  font-size: 15px;
  font-weight: bold;
  text-align: center;

}
.ProductsList a {
  font-family: 'Poiret One', cursive;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}