.ProductsList .Product {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border: 1px solid #000;
  width: 250px;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px;
}

.ProductsList .Product img {
  width: 100%;
  display: flex;
}

.ProductsList .imageProduct {
  width: 100px;
}

.ProductsList span {
  color: rgb(175, 8, 108);
  font-size: 15px;
  font-weight: bold;

}