.CardList .CartItem {
  display: flex;
  align-items: center;
  border-bottom: #000 1px solid;
  padding: 10px;

}

.CardList {
  background-color: rgba(128, 128, 128, 0.295);
  padding: 10px 20px;
  border-radius: 10px;
  border: grey 1px solid;

}

.CardList .CartItem img {
  width: 60px;
  border: #8a7c7c solid 1px;
}

.CardList h1 {
  font-size: 10px;
}

.CardList a {
  color: #000;
  font-family: 'Assistant', sans-serif;
  margin: 0 10px;
}

.CardList button {
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid grey;
  cursor: pointer;

}


.CardList input {
  width: 60px;
  padding: 4px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 5px;
}

.CardList span {
  padding: 10px;
}

.CardList .CartItem div {
  align-items: center;
}
