.OrderForm {
  display: flex;
  flex-direction: column;
  background-color: #bea8a8;
  
}
.OrderForm input{
  border: 1px solid #000;
  width: 200px;
  line-height: 35px;
  border-radius: 0;
  padding: 0;
}
.OrderForm label{
  text-align: center;

  display: block;
  margin-bottom: 20px;
}
.OrderForm h2 {
color: #fff;
}