@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
.Layout {
  display: grid;
  grid-template-areas: "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  max-width: 150%;
  margin: 50px;
  font-family: 'Alkatra', cursive;
}

.Layout header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.295);
  border: 1px solid grey;
  border-radius: 10px;
  padding: 0 30px;
  align-items: center;
}

.Layout aside {
  grid-area: aside;
  margin:50px 0;
}

.Layout main {
  grid-area: main;
  padding: 30px 50px;
  margin-top: 22px;
}

.Layout footer {
  grid-area: footer;
}

.Layout .logo {
  max-width: 60px;
margin-left: 50px;
}

.Layout h1 span {
  flex-direction: column;

}
.Layout header .right{
  display: flex;
  align-items: center;
}