.Cart span {
  color: rgb(175, 8, 108);
}
/* HOME PAGES */
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 63vh;
background-color: #9f959527;
  background-repeat: no-repeat;
   text-align: center;
   line-height: 30px;
  font-family: Arial, sans-serif;
  border-radius: 10px;
}
.Home p {
  max-width: 500px;
}
.Home a {
  color: black;
}
.Home h1:hover{
color: rgb(175, 8, 108);
transition: 1s;
}
.Home h1{
  padding: 10px;
}
.Home {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  font-family: Arial, sans-serif;
  
  }
  
  .title {
  font-size: 36px;
  text-align: center;
  }
  
  .description {
  font-size: 18px;
  text-align: justify;
  }
  
  .subtitle {
  font-size: 24px;
  }
  
  .interest {
  list-style: disc;
  margin-left: 30px;
  }
  
  .book {
  list-style: square;
  margin-left: 30px;
  }


/* FOOTER */

footer {
  background: rgba(148, 138, 138, 0.5);
  border: 1px solid grey;
  
}

h4 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px; 
}

p {
  font-size: 16px;
  line-height: 25px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-4 {
  width: calc(33.33% - 20px);
  margin-right: 10px;
  padding: 0px 20px;
}

.col-md-4:last-child {
  margin-right: 0;
}

form {
  margin-top: 20px;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.bottom-bar {
  background-color: #7d8088;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

.bottom-bar p {
  margin: 0;
}


/* PRODUCT */

.Product img {
  width: 70%;
}
.Product {
  text-align: center;
}

/* BOOKS PAGES */

.Books {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #9f959527;
  border-radius: 10px;
  font-family: Arial, sans-serif;

}

.Books h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.Books h2 {
  font-size: 1.8rem;
  margin-top: 30px;
}

.Books p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}

@media (max-width: 600px) {
  .Books h1 {
    font-size: 2rem;
  }
  
  .Books h2 {
    font-size: 1.5rem;
  }
  
  .Books p {
    font-size: 1.1rem;
  }
}

/* CONTACT PAGES */

.Contacts {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #9f959527;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.Contacts h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.Contacts h2 {
  font-size: 1.8rem;
  margin-top: 30px;
}

.Contacts p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}

.Contacts a {
  color: #007bff;
}

@media (max-width: 600px) {
  .Contacts h1 {
    font-size: 2rem;
  }
  
  .Contacts h2 {
    font-size: 1.5rem;
  }
  
  .Contacts p {
    font-size: 1.1rem;
  }
}


/* DELIVERY PAGES */

.Delivery {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #9f959527;
  border-radius: 10px;
  font-family: Arial, sans-serif;

}


.Delivery h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.Delivery h2 {
  font-size: 1.8rem;
  margin-top: 30px;
}

.Delivery p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}

.Delivery a {
  color: #007bff;
}

@media (max-width: 600px) {
  .Delivery h1 {
    font-size: 2rem;
  }
  
  .Delivery h2 {
    font-size: 1.5rem;
  }
  
  .Delivery p {
    font-size: 1.1rem;
  }
}
