.Cart span {
  color: rgb(175, 8, 108);
}
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 63vh;
  background-color: #a19393;
  font-family: Arial, sans-serif;
  border: 1px solid grey;
  border-radius: 10px;
}
.Home {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  font-family: Arial, sans-serif;
  
  }
  
  .title {
  font-size: 36px;
  text-align: center;
  }
  
  .description {
  font-size: 18px;
  text-align: justify;
  }
  
  .subtitle {
  font-size: 24px;
  }
  
  .interest {
  list-style: disc;
  margin-left: 30px;
  }
  
  .book {
  list-style: square;
  margin-left: 30px;
  }


/* FOOTER */

footer {
  background: rgba(148, 138, 138, 0.5);
  border: 1px solid grey;
  
}

h4 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px; 
}

p {
  font-size: 16px;
  line-height: 25px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-4 {
  width: calc(33.33% - 20px);
  margin-right: 10px;
  padding: 0px 20px;
}

.col-md-4:last-child {
  margin-right: 0;
}

form {
  margin-top: 20px;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.bottom-bar {
  background-color: #7d8088;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

.bottom-bar p {
  margin: 0;
}

