footer {
  background:rgba(128, 128, 128, 0.295);
  border: 1px solid grey;
  
}

h4 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px; 
  color: #000;
}

 p {
  font-size: 16px;
  line-height: 25px;
  color: #000;
  line-height: 30px;
}


.container {
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px ;
}

.col-md-4 {
  width: calc(33.33% - 20px);
  margin-right: 10px;
  padding: 0px 20px;
}
.col-md-4  span{
  color: #0f539b;}

.col-md-4:last-child {
  margin-right: 0;
}

form {
  margin-top: 20px;
  display: flex;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #0b62be;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.bottom-bar {
  background-color: #7d8088;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

.bottom-bar p {
  margin: 0;
}

.Footer .bottom-bar .link .icon {
  margin: 0 30px;
}
 .main-nav ul {
  margin-top: 50px;
  border-top: 1px solid black;
  padding: 30px;
  display: flex;
  justify-content: space-between;
 
}
.main-nav{
  color: #000;
}
