.CategoryList ul li {
  list-style-type: none;
  border-bottom: 1px solid #000;
}
.CategoryList ul li a {
  display: block;
  position: relative;
  z-index: 1;
  transition: .35s ease color;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
}
.CategoryList ul {
  padding: 0;
}

.CategoryList a {
  text-decoration: none;
  color: black;
  padding-left: 5px;
  transition: all 0.2s ease;
  font-size: 20px;
}

.CategoryList a:hover {
  color: rgb(175, 8, 108);
}

.CategoryList a:active {
  color: rgb(125, 6, 77);
}

.CategoryList li {
  margin: 30px 0;
 
}

.CategoryList {
  background: rgba(236, 130, 183, 0.5);
  padding: 10vh 20px;
  border: 1px solid gray;
  border-radius: 15px;
background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(255, 1, 217, 0.345));



}
.CategoryList:hover {
  background-image: linear-gradient(rgba(243, 99, 166, 0.737), rgba(33, 27, 32, 0.473));
  transition: 5s;
  
}

.CategoryList h3 span {
  color: rgb(175, 8, 108);
  font-size: 35px;
}

.CategoryList h3 {
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.CategoryList .icon {
  max-width: 20px;
}
.CategoryList ul li div{
  align-items: center;
  display: flex;
}