.CategoryList ul li {
  list-style-type: none;

  flex-wrap: wrap;
}

/*  */
.CategoryList a {
  color: #666;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

.CategoryList a:after {
  display: block;
  content: '';
  border-bottom: solid 3px #9f0258;
  transform: scaleX(0);
  transition: transform .5s ease-in-out;
}

.CategoryList a.fromLeft:after {
  transform-origin: 100% 50%;
}

.CategoryList a.fromLeft:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

/*  */
.CategoryList ul li a {
  display: block;
  position: relative;
  z-index: 1;
  transition: .35s ease color;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
}

.CategoryList ul {
  padding: 0;
}

.CategoryList a {
  text-decoration: none;
  color: black;
  padding-left: 5px;
  transition: all 0.2s ease;
  font-size: 17px;
}

.CategoryList a:hover {
  color: rgb(175, 8, 108);
}

.CategoryList a:active {
  color: rgb(125, 6, 77);
}

.CategoryList a:focus {
  color: rgb(125, 6, 77);
}

.CategoryList li {
  margin: 30px 0;

}

.CategoryList {
  background: rgba(236, 130, 183, 0.5);
  padding: 10vh 20px;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: rgba(128, 128, 128, 0.295);

}


.CategoryList h3 span {
  color: rgb(143, 12, 91);
  font-size: 35px;
}


.CategoryList .icon {
  max-width: 50px;
}

.CategoryList ul li div {
  align-items: center;
  display: flex;
}


.CategoryList ul li div a:focus {
  background-image: linear-gradient(-225deg,
      black 5%,
      grey 25%,
      #8d0757 67%,

    );
}

.CategoryList h3 span {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #000000 0%,
      #44107a 29%,
      #8d0757 67%,
      #4f16ab 100%);

  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 60px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.CategoryList h3 {


  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #000000 0%,
      #44107a 29%,
      #8d0757 67%,
      #3c0d88 80%);

  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 25px;
}

.CategoryList h3 {
  font-family: 'DM Sans', sans-serif;
}