* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.Nav .NavItem a {
  color: #4c4b50;
  padding: 20px;
  transition: .3s;
  font-family: 'DM Sans', sans-serif;
  font-weight: bolder;
  position: relative;

}



 .Nav .Nav {
  display: flex;
}



.Nav {
  display: inline-flex;
  position: relative;
  /* overflow: hidden; */
  background-color: transparent;
  padding: 0 20px;
  border-radius: 40px;
  
}


.Nav ul li {
  display: inline-block;
  line-height: 95px;
  margin: 0 6px;
}


.Nav ul li a {
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 30px;
  letter-spacing: 2px;
}


.Nav ul li a:hover {

    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: rgb(159, 15, 101);

}
.Nav ul li a:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
   color: rgb(154, 16, 99);

}
.Nav ul li a:focus{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: rgb(156, 7, 97);
}
.Nav .main-nav {
 margin: 0 60px;
}




@media (max-width: 900px) {
  .Nav ul {
    flex-direction: column;
    margin: 1rem 0;
  }
  .Nav .Search {
    display: none;
  }
}
.Nav ul {
  display: flex;
}