* {
  box-sizing: border-box;
}

.Nav .NavItem a {
  color: rgb(185, 19, 99);
  text-decoration: none;
  font-size: 20px;
  margin: 20px 35px;
}
.Nav ul li {
  list-style-type: none;

}

.Nav ul {
  display: flex;
}
