.DeleteCategory  {
  background-color: rgba(128, 128, 128, 0.447);
  padding: 3px 20px;
  color: #fff;
  margin: 0 10px;
  border-radius: 10px;
  border: #000000;
}

.DeleteCategory .DeleteCategory {
  color: #000000;
}