.Auth button {
  background-color: rgb(175, 8, 108);
  color: #fff;
  padding: 5px 30px;
  border: #d9d9d9;
  border-radius: 10px;

}
.Auth button:hover {
  transition: .4s ease-in-out;
  background: rgb(188, 88, 148);
}

.Auth span {
  color: rgb(0, 0, 0);
  line-height: 40px;
  font-family: 'Cutive Mono', monospace;
  font-size: 15px;
  font-weight: bold;
}
.Auth a {
  
  color: rgb(145, 4, 88);
  font-family: 'Manrope', sans-serif;
}
