.Auth button {
  background-color: rgb(175, 8, 108);
  color: #fff;
  padding: 5px 30px;
  border: #fff;
}
.Auth {
  padding-left: 40px;  
}
.Auth span {
  color: rgb(0, 0, 0);
  line-height: 40px;
  padding: 0 15px 
  
}
