.Auth button {
  color: #fff;
  padding: 5px 30px;
  border: #d9d9d9;
  border-radius: 10px;
  cursor: pointer;

}
.Auth .photo{
  width: 50px;
  border-radius: 65px;
  border: 1px solid black;
  cursor: pointer;
}

.Auth span {
  color: rgb(0, 0, 0);
  line-height: 40px;
  font-family: 'Cutive Mono', monospace;
  font-size: 15px;
  font-weight: bold;
}
.Auth a {
  
  color: rgb(145, 4, 88);
  font-family: 'Manrope', sans-serif;
}
.Auth .Auth-log-out{
  display: flex;
  align-items: center;
}
.Auth .Auth-log-out img {
  margin-left: 10px;
}